.shimmer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .shimmer-field {
    display: flex;
    align-items: center;
    margin: 20px;
  }
  
  .shimmer-element {
    width: 50px;
    height: 50px;
    background: linear-gradient(-45deg, transparent 30%, rgba(255, 255, 255, 0.8) 50%, transparent 70%);
    background-size: 200% 200%;
    animation: shimmer 2s infinite linear;
  }
  
  .small {
    width: 30px;
    height: 30px;
  }
  
  .medium {
    width: 50px;
    height: 50px;
  }
  
  .large {
    width: 70px;
    height: 70px;
  }
  
  @keyframes shimmer {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 200% 200%;
    }
  }

  .app-shimmer-container {
    display: flex;
    background: ghostwhite;
    height: 100vh;
  }
